<div class="company">
  <div class="image">
    <%= image_tag company.logo_url %>
  </div>

  <div class="details">
    <h4><%= link_to company.name, company.website_url, target: "_blank" %></h4>
  </div>
</div>